@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

h1 {
  font-family: "Fraunces", serif;
}

header a.active {
  font-family: "Fraunces", serif;
}

header a:hover {
  font-family: "Fraunces", serif;
}

.section a {
  font-family: "Fraunces", serif;
  border-bottom: 4px solid hsl(51, 100%, 49%);
}

.section h2 {
  font-family: "Fraunces", serif;
}

.d-image {
  height: 96vh;
}

#menus::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(4%, -100%);
  border-left: 15px solid transparent;
  border-top: 15px solid transparent;
  border-bottom: 15px solid white;
  border-right: 15px solid white;
}

.title {
  font-family: "Fraunces", serif;
  text-transform: uppercase;
}

.person h3 {
  font-family: "Fraunces", serif;
}

footer {
  background-color: #90d4c5;
}

footer a {
  color: #25564b;
}
